<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board - Case Management</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
    <div class="board-container">
        <!-- Board Header -->
        <div class="board-header">
            <h1 th:text="${board.name}">Board Name</h1>
        </div>

        <!-- Board Content -->
        <div class="board-content" th:attr="data-board-id=${board.id}">
            <!-- Your existing board content here -->
        </div>
    </div>
</body>
</html> 